*{
margin: 0%;
padding: 0%;

}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:rgb(132, 220, 198,1);
}
#titulo{
    width: 400px;
    margin: 40px 450px 40px 500px;
    font-size: 28px;
}
.preguntas{
    display: flex;
    flex-direction: column;   
    margin-left: 45px;
    max-width: 300px;
    top: 60px;
}
.preguntas label{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: center;
    line-height: 60px;
    
}
.segundo-cuadro{
    display: flex;
    flex-direction: column;

}
.cuadros{
    border-color: transparent;
    left: 450px;
    top: 60px;
    max-width: 500px;
    margin-left: 450px;
    margin-top: -390px;

}
.cuadros input{
    width: 500px;
    height: 25px;
    background-color:floralwhite;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 31px;
    margin-left: 100px;

}
.opciones{
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    max-width: 550px;
    margin-top: -215px;
}
.opciones label{
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 50px;
    
}
.cuadritos{
    display: flex;
    flex-direction: column;
    left: 60px;
    margin-top: 100px;
    margin-left: 450px;
    max-width: 60px;
}
.cuadritos input{
    margin-bottom: 35px;  
}
.perroFormulario img{ 
    display: flex;
    position:absolute;
    z-index: -999;
    width: 839px;
    height: 1024px;
    margin-left: 600px;
    top: 300px;

}
.cuadro14{
    position:absolute;
    width: 500px;
    height: 25px;
    background-color:floralwhite;
    border-radius: 30px;
    border-color: transparent;
    margin-left: 45px;
    
}
.cuadro15{
    position:absolute;
    width: 500px;
    height: 25px;
    background-color:floralwhite;
    border-radius: 30px;
    border-color: transparent;
    margin-left: 45px;
}
.cuadro6{
    position:relative;
    margin-left: 335px;    
    
}
.cuadro7{
    position:relative;
    margin-left: 335px;  
}
.cuadro7{
    position:relative;
    margin-left: 335px;  
}
.cuadro8{
    position:relative;
    margin-left: 335px;  
}
.cuadro9{
    position:relative;
    margin-left: 335px;  
}
.cuadro10{
    position:relative;
    margin-left: 335px;  
}
.cuadro11{
    position:relative;
    margin-left: 335px;  
}
.cuadro12{
    position:relative;
    margin-left: 335px;  
}
.cuadro13{
    position:relative;
    margin-left: 335px;  
}
.primer-cuadro{
     display: flex;
     flex-direction: row;
}

.fila-izq img:nth-child(6){
    margin-top: 95px;
}
.preguntas label:nth-child(6){
    margin-top: 50px;
}
.fila-izq img{
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    top: 20px;
    margin-left: 35px;
}
.fila-der img{
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 50px;
    top: 20px;
}
.tercer-cuadro{
    display: flex;
     flex-direction: row;
}
.lado-izq{
    margin-left: 15px;
}
.preguntas2{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    max-width: 550px;
    margin-top: 110px;
}
.preguntas2 label{
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 65px;
    max-width: 300px;
}
.lado-izq img{
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 145px;
    top: 125px;
 
}
.lado-der img{
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 145px;
    margin-left: 50px;
    top: 125px;
}
.primero{
    left: 45px;
    max-width: 60px;
    margin-top: -380px;
}
.c1{
    margin-left: 600px;
    max-width: 60px;
    margin-top: -180px;
}
.s1{
    /*  display: flex;
     flex-direction: row;
     margin-left: 550px;
     max-width: 60px;
     margin-top: -380px;
     font-size: 18px;
     font-weight: 900;
     line-height: 15px;
     letter-spacing: 0em;
     text-align: left; */
 }
.c2{ 
    margin-left: 250px;
    max-width: 60px;
    top: -350px;;
}

.s2{
    display: flex;
    flex-direction: row;
    margin-left: 550px;
    max-width: 60px;
    margin-top: -380px;
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}
/* 
.cuadritos2 label{
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    max-width: 60px;
    margin-top: 350px;
}
.cuadritos3 input{
    margin-bottom: 15px;
    left: 60px;
    margin-top: -350px;
    margin-left: 550px;
    max-width: 60px;
}
.cuadritos3 label{
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 450px;
    display: flex;
    flex-direction: column;
    max-width: 60px;
} */
./* cuadritos4 input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    left: 60px;
    margin-top: 100px;
    margin-left: 450px;
    max-width: 60px; 
    display: flex;
    flex-direction: column;
} */
/* .cuadritos4 label{
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 450px;
} */
.pie{
    position: relative;
    top: 250px;
}   
.subir a{
    color: black;
    margin-left: 25px;
    font-size: 20;
    font-weight: 900;
}


