*{
margin: 0%;
padding: 0%;

}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:rgb(132, 220, 198,1);
}
#titulo{
    width: 400px;
    margin: 40px 450px 40px 500px;
    font-size: 28px;
}
.preguntas{
    display: flex;
    flex-direction: column;   
    margin-left: 45px;
    max-width: 300px;
    top: 60px;
}
.preguntas label{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: center;
    line-height: 60px;
    
}
.segundo-cuadro{
    display: flex;
    flex-direction: column;

}
.cuadros{
    border-color: transparent;
    left: 450px;
    top: 60px;
    max-width: 500px;
    margin-left: 450px;
    margin-top: -390px;

}
.cuadros input{
    width: 500px;
    height: 25px;
    background-color:floralwhite;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 31px;
    margin-left: 100px;

}
.opciones{
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    max-width: 550px;
    margin-top: -215px;
}
.opciones label{
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 50px;
    
}
.cuadritos{
    display: flex;
    flex-direction: column;
    left: 60px;
    margin-top: 100px;
    margin-left: 450px;
    max-width: 60px;
}
.cuadritos input{
    margin-bottom: 35px;  
}

div .tipo{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: 15px 20px 15px 100px;
}
div .casa{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;
}
div .depto{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;

}
div .alca{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;

}
div .alde{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;
}

.acuerdo{
    position: relative;
    left: 30px;
    top: 10px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
}

div .si{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;

}
div .no{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;
}
div .hay{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 35px;
}
div .sy{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;
}
div .ne{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 20px;
}
div .ingrese{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 35px 35px;
    
}
div .patio{
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 60px 15px 25px;
}
.perroFormulario img{ 
    display: flex;
    position:absolute;
    z-index: -999;
    width: 839px;
    height: 1024px;
    margin-left: 600px;
    top: 300px;

}
.cuadro14{
    position:absolute;
    width: 500px;
    height: 25px;
    background-color:floralwhite;
    border-radius: 30px;
    border-color: transparent;
    margin-left: 45px;
    
}
.cuadro15{
    position:absolute;
    width: 500px;
    height: 25px;
    background-color:floralwhite;
    border-radius: 30px;
    border-color: transparent;
    margin-left: 45px;
}
.cuadro6{
    position:relative;
    margin-left: 335px;    
    
}
.cuadro7{
    position:relative;
    margin-left: 335px;  
}
.cuadro7{
    position:relative;
    margin-left: 335px;  
}
.cuadro8{
    position:relative;
    margin-left: 335px;  
}
.cuadro9{
    position:relative;
    margin-left: 335px;  
}
.cuadro10{
    position:relative;
    margin-left: 335px;  
}
.cuadro11{
    position:relative;
    margin-left: 335px;  
}
.cuadro12{
    position:relative;
    margin-left: 335px;  
}
.cuadro13{
    position:relative;
    margin-left: 335px;  
}
.primer-cuadro{
     display: flex;
     flex-direction: row;
}

img:nth-child(6){
    margin-top: 95px;
}
label:nth-child(6){
    margin-top: 50px;
}
.fila-izq img{
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    top: 20px;
    margin-left: 35px;
}
.fila-der img{
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 50px;
    top: 20px;
}
.huella12 img{
    position: relative;
    width: 20px;
    height: 20px;
    top: 343px;
}
.huella13 img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 317px;
    left: 310px;
}
.huella14 img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 424px;
}
.huella15 img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 400px;
    left: 310px; 
}
.huella16 img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 420px;
}
.huella17 img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 395px;
    left: 310px;
}
.huella18 img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 75px;

}
.huella19 img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 50px;
    left: 400px;
}
.pie{
    position: relative;
    top: 750px;
}   
a {
    color: black;
    margin-left: 25px;
    font-size: 20;
    font-weight: 900;
}
  


